@font-face {
  font-family: "VisbyCF-Regular";
  src: url("../../Assets/Font/VisbyCF-Regular.otf") format("truetype");
}
.content-wrap {
  display: flex;
  flex-direction: row;
}

.content {
  font-family: "VisbyCF-Regular";
  background: linear-gradient(92.15deg, #009bd8 0.74%, #01dbad 112.37%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  margin-top: 5px;
  padding: 2px 12px 10px 12px;
}

.gradient-box {
  display: inline-block;
  text-align: center;
  height: 41px;
  position: relative;
  color: #fff;
  background: #000;
  background-clip: content-box, border-box;
  /* !importanté */
  border: double 1px transparent;
  background-image: linear-gradient(#01010d, #01010d), linear-gradient(92.15deg, #009bd8 0.74%, #01dbad 112.37%);
  /* !importanté */
  border-radius: 30px;
  margin: 6px;
}

.globe-icon {
  width: 17px;
  height: 17px;
  margin-top: 10px;
  margin-left: 10px;
}
